@using Sabatex.RadzenBlazor.Server
@using System.Reflection

<SabatexApp Lang="en" Href="/" >
    <Head>
        <link rel="stylesheet" href="@Assets["app.css"]" />
        <link rel="stylesheet" href="@Assets["SabatexBlazorDemo.styles.css"]" />
        <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
        <link rel="icon" type="image/png" href="favicon.png" />
    </Head>
    <Body>
        @if (isWASMClient)
        {
             <WasmClientRoute PrefixRoute="/SabatexBlazorDemo_WASMClientA">
                <Content>
                    <SabatexBlazorDemo.WASMClientA.ClientARoutes @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
                </Content>
            </WasmClientRoute>
            <WasmClientRoute PrefixRoute="/SabatexBlazorDemo_WASMClientB">
                <Content>
                    <SabatexBlazorDemo.WASMClientB.ClientBRoutes @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
                </Content>
            </WasmClientRoute>
        }
        else
        {
            <SSRRoutes />
        }
    </Body>

</SabatexApp>


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
     isWASMClient ? new InteractiveWebAssemblyRenderMode(prerender: false) : null;

    private bool isWASMClient;
  
    protected override void OnInitialized()
    {
        base.OnInitialized();
        isWASMClient = HttpContext.IsRouteWASMClient();
    }
   
}