@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="@Lang">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    @HeadCommon
    
    @if (IsWebAssembly)
    {
        @HeadWASM
        @foreach (var WASMClient in Sabatex.Core.RadzenBlazor.WASMClient.WASMClients)
        {
            if (WASMClient.PWA != null)
            {
                <link rel="icon" type="image/png" href="@WASMClient.PWA.Icon" />
                <link rel="apple-touch-icon" sizes="512x512" href="@WASMClient.PWA.AppleTouchIcon" />
                <link rel="manifest" href="@WASMClient.PWA.Manifest" />
            }
        }
        <link rel="preload" href="@Assets["_content/Sabatex.RadzenBlazor.Server/SabatexRadzenBlazor.css"]" as="style" />
        <link rel="stylesheet"  href="@Assets["_content/Sabatex.RadzenBlazor.Server/SabatexRadzenBlazor.css"]" />

    }
    else
    {
        @HeadSSR
    }
    <ImportMap />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>
<body>
    
    @if (IsWebAssembly)
    {
        <div class="wasm-loader">
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
            <div class="spinner" role="status" aria-label="Завантаження застосунку"></div>
        </div>
        @BodyWASM
        <script src="_framework/blazor.web.js"></script>
    }
    else
    {
        @BodySSR

        <script src="_framework/blazor.web.js"></script>
        <script>
            window.toggleSidebar = function (state) {
                const sidebar = document.querySelector('.sidebar');
                if (!sidebar) return;
                const isCollapse = sidebar.classList.contains("side-bar-collapse");
                // toggle: if collapsed -> show, else collapse
                if (isCollapse) {
                    sidebar.classList.remove("side-bar-collapse");
                } else {
                    sidebar.classList.add("side-bar-collapse");
                }
            }
        </script>
    }

    <script>
         if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>
</html>

@code {
    /// <summary>
    /// The language to use for the application.
    /// </summary>
    [Parameter] public string Lang { get; set; } = "uk";
    [Parameter] public string Charset { get; set; } = "utf-8";
    [Parameter] public string Href { get; set; } = "/";

    [Parameter]
    public RenderFragment? HeadWASM { get; set; }
    [Parameter]
    public RenderFragment? HeadSSR { get; set; }
    [Parameter]
    public RenderFragment? HeadCommon { get; set; }
    [Parameter]
    public RenderFragment? BodyWASM { get; set; }
    [Parameter]
    public RenderFragment? BodySSR { get; set; }
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    
    private IComponentRenderMode? PageRenderMode =>
     IsWebAssembly ? new InteractiveWebAssemblyRenderMode(prerender: false) : null;


    private bool IsWebAssembly 
    {
        get 
        {
            foreach (var WASMClient in Sabatex.Core.RadzenBlazor.WASMClient.WASMClients)
            {
                if (HttpContext.Request.Path.StartsWithSegments(WASMClient.PrefixRoute))
                {
                    return true;
                }
            }
            return false;
        }
    }
 



}